.hat {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 4; 
} 

.notification {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 23px;
    left: 25px;
    width: 350px;
    height: 210px;
    border: 1px solid;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 0 10px black;
}

.close {
    width: 25px;
    margin: 5px 16px 0 6px;
    font-size: 17px;
    border: none;
    background: none;
    font-size: 17px;
}

.close:hover {
    background: rgb(119, 119, 240);
    color:white;
}


.slides {
    flex: 1;
    height: 115px;
    margin: 5px 5px 37px 5px;
    width: 265px;
    font-size: 12px;
    border: 1px solid;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

h2 {
    margin: 5px 0 5px 10px;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    background: rgb(235, 235, 236);
}

.disable {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-left: 1px;
}

.navigation {
    display: flex;
    flex: 1;
    margin-right: 15px;
}

.prev, .next {
    flex: 1;
    text-align: center;
    margin: 0 3px;
    color: grey;
    border-radius: 50%;
    border: 1px solid grey;
}

.prev:hover, .next:hover {
    background: rgb(119, 119, 240);
    color:white;
}

.navdots {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dots {
    flex: 1;
    width: 2px;
    margin: 6px 4px 6px;
    padding: 4px;
    background: rgb(138, 134, 134);
    border-radius: 50%;
}

.dots.active {
    flex: 1;
    width: 2px;
    margin: 6px 4px 6px;
    padding: 4px;
    background: rgb(54, 54, 225);
    border-radius: 50%;
}

 